:root{
  --bg: #1c1b2a;
  --accent: #2e9cc7;
  --font-color: #eeedf4;
}
*{
  font-family: Montserrat;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar{
  padding: 0px;
  border-radius: 20px;
  border: 2px solid var(--accent);
  display: flex;
  flex-direction: row;
  width: 50%
}
#search-icon{
  font-family: Noto Emoji;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 5px 0px;
  color: var(--accent);
}
#search{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 20px;
  color: var(--font-color);
}
#search:focus{
  outline: none;
}
